.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border-color);
  padding: 10px;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

.item-name:hover {
  text-decoration: underline solid white 1px;
}

.item-image {
  width: 50%;
}
